# Database
DATABASE_URL="postgresql://stryde:stryde_pass@localhost:5432/stryde_health?schema=public"

# JWT
JWT_SECRET="your-super-secret-jwt-key-change-this-in-production-min-32-chars"
JWT_EXPIRES_IN="7d"

# Server
PORT=3001
NODE_ENV=development
CORS_ORIGIN="http://localhost:5173"

# pgAdmin
PGADMIN_EMAIL=admin@strydehealth.com
PGADMIN_PASSWORD=admin123
